.menu__container {
  display: flex;
  width: 221px;
  z-index: 5;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu__account {
  height: 150px;
  display: grid;
  place-items: center;
}

.menu__accountDetails {
  width: 221px;
  text-align: center;
  padding: 15px;
  overflow-wrap: break-word;
}

.menu__accountName {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #11142d;
}

.menu__accountProfile {
  font-weight: 600;
  font-size: 12.5px;
  line-height: 18px;
  color: #808191;
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.menu__buttons > a > Button {
  background-color: transparent;
  color: #81818b;
  margin-bottom: 5px;
  padding-left: 1.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 216px;
  height: 56px;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
  box-shadow: none;
}

.menu__buttons > a > Button:hover {
  background-color: var(--ming);
  color: #ffffff;
}

.menu__buttons > a > .active {
  background-color: var(--ming);
  color: #ffffff;
}

.menu__buttonIcons {
  padding-right: 0.8rem;
  font-size: 2.2rem !important;
}

.dashboard-icons {
  margin-right: 6px;
}
